<%= form_with(model: callme_webhook, class: "contents") do |form| %>
  <% if callme_webhook.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(callme_webhook.errors.count, "error") %> prohibited this callme_webhook from being saved:</h2>
      <ul>
        <% callme_webhook.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block input" %>
  </div>
  <div class="my-5">
    <%= form.label :hook_type %>
    <%= form.select :hook_type, Callme::Webhook.hook_types.map { [_1[0], _1[0]] }, {}, class: "block select" %>
  </div>
  <div class="my-5">
    <%= form.label :fanout_type %>
    <%= form.select :fanout_type, Callme::Webhook.fanout_types.map { [_1[0], _1[0]] }, {}, class: "block select" %>
  </div>
  <div class="my-5">
    <%= form.label :fanout_config %>
    <%= form.text_area :fanout_config, rows: 5, class: "textarea block" %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
