<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render @callme_webhook %>
    <div class="flex justify-end gap-2 my-4">
      <%= link_to "Edit this webhook", edit_callme_webhook_path(@callme_webhook), class: "btn" %>
      <%= link_to "Back to webhooks", callme_webhooks_path, class: "btn" %>
      <%= button_to "Destroy this webhook", @callme_webhook, method: :delete, class: "btn btn-error" %>
    </div>
  </div>
</div>
